@font-face {
  font-family: "sky-regular";
  src: local("sky-regular"), url("./fonts/sky-regular.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "sky-medium";
  src: local("sky-medium"), url("./fonts/sky-medium.woff") format("woff");
  font-display: fallback;
}

* {
  font-family: sky-regular, Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-family: sky-medium, sky-regular, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  margin: 0.67rem 0;
}

:root {
  --orange: #b65f02;
  --bloodorange: #b13406;
  --red: #b20617;
  --purple: #9b1c5c;
  --violet: #3b2f89;
  --blue: #1045a8;
  --light-grey: #d8d8dd;
  --white: #ffffff; 
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 56.25rem;
}

.app header {
  margin: 4rem auto;
  text-align: center;
}

.schedule table {
  border-collapse: collapse;
  margin: 4rem auto;
}

.schedule .talk {
  background-color: #eee;
}

.schedule button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  width: 100%;
  text-align: left;}

.schedule .empty {
  border-top-color: transparent;
  border-left-color: transparent;
}

.schedule .button-line {
  margin-top: 0.2rem;
}

.schedule th {
  color: var(--white);
}

.schedule th:nth-child(1) {
  background-color: var(--orange);
}
.schedule th:nth-child(2) {
  background-color: var(--bloodorange);
}
.schedule th:nth-child(3) {
  background-color: var(--red);
}
.schedule th:nth-child(4) {
  background-color: var(--purple);
}
.schedule th:nth-child(5) {
  background-color: var(--violet);
}
.schedule th:nth-child(6) {
  background-color: var(--blue);
}

.schedule td,
.schedule th {
  padding: 12px 18px;
  border: 1px solid var(--light-grey);
}

.close-button {
  background: var(--purple);
  border-width: 0;
  border-radius: 4rem;
  padding: 0.65rem 1.5rem;
  color: var(--white);
  cursor: pointer;
  font-family: sky-medium, sky-regular, Helvetica, Arial, sans-serif;
  transition: background-color 0.25s;
}

.close-button:hover {
  background-color: var(--red);
}

.close-button:active {
  background-color: var(--violet);
}
